# ==========================
#  User Service .env Example
# ==========================

# Puerto HTTP donde escucha el User Service
USER_SERVICE_PORT=8083

# Nivel de logs (debug, info, warn, error)
LOG_LEVEL=info

# DSN de conexión a Postgres para User
USER_POSTGRES_DSN=postgres://user:password@localhost:5432/user?sslmode=disable
# Dirección de Redis
REDIS_ADDR=localhost:6379

# Brokers de Kafka (separados por coma)
KAFKA_BROKERS=localhost:9092

# Topic Kafka para usuarios
KAFKA_USER_TOPIC=user_created
# Grupo de consumidores Kafka para usuarios
KAFKA_USER_GROUP=user-group
# Topic DLQ para usuarios
KAFKA_USER_TOPIC_DLQ=user_created.dlq
# TTL de mensajes en DLQ (ej: 168h = 7 días)
KAFKA_USER_TOPIC_DLQ_TTL=168h
# Máxima duración de reintentos
KAFKA_USER_TOPIC_RETRY_MAX_DURATION=2h
# Máximo backoff entre reintentos
KAFKA_USER_TOPIC_RETRY_MAX_BACKOFF=300s
# Backoff inicial para reintentos
KAFKA_USER_TOPIC_RETRY_INITIAL_BACKOFF=5s
